.full-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-height: 50px;
    margin-right: 0;
}

@media (max-width: 992px) {
    .full-button {
        width: 100%;
        margin-bottom: 8px;
    }
}
